<section class="local">
    <div class="jumbotron jumbotron-dark" id="venue">
        <div class="container">

            <h2>Curitiba</h2>
            <div class="local__text">
                <p>
                    Curitiba &eacute; uma cidade cosmopolita que recebe pessoas de todo o pa&iacute;s. A cidade tem uma
                    s&eacute;rie de atra&ccedil;&otilde;es tur&iacute;sticas, tanto dentro dos limites da cidade quanto
                    ao redor. H&aacute; tamb&eacute;m uma cena cultural forte com atra&ccedil;&otilde;es para todos os
                    gostos, incluindo teatro, cinema, m&uacute;sica e com&eacute;dia.
                </p>
                <p>
                    Curitiba &eacute; o centro econ&ocirc;mico do estado do Paran&aacute; e o segundo o IBGE em 2014
                    tinha o quinto maior PIB do pa&iacute;s. Em parte, isso se deve &agrave; popula&ccedil;&atilde;o de
                    mais de tr&ecirc;s milh&otilde;es de habitantes, se for considerada a sua regi&atilde;o
                    metropolitana; a cidade se destaca por ter a economia mais forte do sul do pa&iacute;s, contando o
                    trabalho de exporta&ccedil;&atilde;o das novecentas f&aacute;bricas instaladas no bairro Cidade
                    Industrial e das duas grandes ind&uacute;strias automobil&iacute;sticas que est&atilde;o localizadas
                    na Grande Curitiba, Renault e Volkswagen. Ademais, foi eleita v&aacute;rias vezes como "a melhor
                    cidade brasileira para neg&oacute;cios", segundo ranking elaborado pela revista Exame, em parceria
                    com a consultoria Simonsen &amp; Associados.
                </p>
                <p>
                    Em julho de 2001, tornou-se a primeira cidade a receber o pr&ecirc;mio "Polo de Inform&aacute;tica"
                    concedido pela revista Info Exame, pelo desempenho de suas empresas de tecnologia. De acordo com a
                    revista, o conjunto de empresas de Tecnologia e Inform&aacute;tica sediadas em Curitiba apresentou,
                    em 2001, um faturamento de U$ 1,2 bilh&atilde;o, representando um crescimento de 21% em rela&ccedil;&atilde;o
                    ao ano anterior.
                </p>
                <p>
                    Curitiba &eacute; conhecida por suas solu&ccedil;&otilde;es urbanas diferenciadas, notadamente por
                    seu sistema integrado de transporte coletivo que, em conjunto com as vias regulares de tr&acirc;nsito,
                    tem servido como indutor de seu desenvolvimento urban&iacute;stico, especialmente a partir da d&eacute;cada
                    de 1970.
                </p>
                <p>
                    O sistema de transporte p&uacute;blico de Curitiba &eacute; habitualmente lembrado por seus
                    terminais de passageiros interligados por canaletas exclusivas para &ocirc;nibus biarticulados e
                    complementados com o "ligeirinho" e alimentadores diferenciados por cores.
                </p>
            </div>
            <a class="btn btn-lg btn-warning" href="#">MAIS INFORMA&Ccedil;&Otilde;ES EM BREVE</a>
        </div>
    </div>
</section>