<section>
    <div class="jumbotron" id="analytics">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h3>&Aacute;REA GEOGR&Aacute;FICA<br/>
                        <small>de donde vem a audi&ecirc;ncia</small>
                    </h3>
                    <img class="img-responsive" src="./assets/img/geo.png"/>
                    <div class="row legend">
                        <div class="col-xs-3 col-sm-2 col-xs-offset-1 col-sm-offset-2 hidden-md">
                            <span class="legend-level legend-level-5"></span>
                            <br class="visible-xs"/>
                            <small>
                                <small>
                                    <small>700 - 1,000</small>
                                </small>
                            </small>
                        </div>
                        <div class="visible-md col-md-2">
                            <span class="legend-level legend-level-5"></span>
                            <small>
                                <small>
                                    <small>+700</small>
                                </small>
                            </small>
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-2">
                            <span class="legend-level legend-level-4"></span>
                            <br class="visible-xs"/>
                            <small>
                                <small>
                                    <small>500 - 700</small>
                                </small>
                            </small>
                        </div>
                        <div class="col-xs-2 col-md-3 col-lg-2">
                            <span class="legend-level legend-level-3"></span>
                            <br class="visible-xs"/>
                            <small>
                                <small>
                                    <small>100 - 500</small>
                                </small>
                            </small>
                        </div>
                        <div class="col-xs-2 col-lg-2">
                            <span class="legend-level legend-level-2"></span>
                            <br class="visible-xs"/>
                            <small>
                                <small>
                                    <small>50 - 100</small>
                                </small>
                            </small>
                        </div>
                        <div class="col-xs-2 col-lg-2">
                            <span class="legend-level legend-level-1"></span>
                            <br class="visible-xs"/>
                            <small>
                                <small>
                                    <small>0 - 50</small>
                                </small>
                            </small>
                        </div>
                    </div>
                    <p>
                        <small>
                            <small>
                                <small>Dados obtidos a partir do interesse apresentado pela audi&ecirc;ncia entre junho
                                    e agosto de 2016
                                </small>
                            </small>
                        </small>
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <h3>SCIPYLA 2018<br/>
                        <small> até o momento nas redes sociais...</small>
                    </h3>
                    <div class="row" id="fb">
                        <div class="col-xs-3 col-xs-offset-3 text-right">
                            <p class="visible-md">&nbsp;</p>
                            <img class="img-responsive" src="./assets/img/reach.png"/>
                        </div>
                        <div class="col-xs-3 col-md-3 text-center">
                            <p class="lead"><span class="lead"><span class="lead"><strong>0000</strong></span></span>
                            </p>
                            <p>
                                <button class="btn btn-xs btn-social btn-primary"><span class="badge badge-square"><span
                                        class="icon-6"></span></span> Alcance
                                </button>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <p><strong>0000</strong> interessados em participar</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-2 text-center">
                            <div class="well well-xs"><strong>0000</strong></div>
                            <p>
                                <button class="btn btn-xs btn-social btn-info"><span class="badge badge-square"><span
                                        class="icon-7"></span></span> Tweets
                                </button>
                            </p>
                        </div>
                        <div class="col-xs-3 col-xs-offset-2 text-center">
                            <div class="well well-xs"><strong>0000</strong></div>
                            <p>
                                <button class="btn btn-xs btn-social btn-danger"><span class="badge badge-square"><span
                                        class="icon-8"></span></span> Visitas
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>