<section>
    <div class="jumbotron jumbotron-blue" id="timeline">
        <div class="jumbotron-body">
            <div class="container">
                <h3>ATIVIDADES POR ANO</h3>
                <div class="row">
                    <div class="col-xs-1 col-xs-offset-5 col-sm-offset-4"><strong>24</strong></div>
                    <div class="col-xs-1"><strong>35</strong></div>
                    <div class="col-xs-1"><strong>29</strong></div>
                    <div class="col-xs-1"><strong>46</strong></div>
                    <div class="col-xs-1"><strong>93*</strong></div>
                </div>
                <div class="row">
                    <div class="col-xs-1 col-xs-offset-5 col-sm-offset-4">
                        <img class="img-responsive" src="./assets/img/bar2013.png"/>
                    </div>
                    <div class="col-xs-1">
                        <img class="img-responsive" src="./assets/img/bar2014.png"/>
                    </div>
                    <div class="col-xs-1">
                        <img class="img-responsive" src="./assets/img/bar2015.png"/>
                    </div>
                    <div class="col-xs-1">
                        <img class="img-responsive" src="./assets/img/bar2016.png"/>
                    </div>
                    <div class="col-xs-1">
                        <img class="img-responsive" src="./assets/img/bar2017.png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1 col-xs-offset-5 col-sm-offset-4">
                        <span class="hidden-xs">2013</span><span class="visible-xs">'13</span>
                    </div>
                    <div class="col-xs-1">
                        <span class="hidden-xs">2014</span><span class="visible-xs">'14</span>
                    </div>
                    <div class="col-xs-1">
                        <span class="hidden-xs">2015</span><span class="visible-xs">'15</span>
                    </div>
                    <div class="col-xs-1">
                        <span class="hidden-xs">2016</span><span class="visible-xs">'16</span>
                    </div>
                    <div class="col-xs-1">
                        <span class="hidden-xs">2017</span><span class="visible-xs">'17</span>
                    </div>
                </div>
                <div class="row overlay-target-block">
                    <div class="overlay col-xs-offset-5 col-sm-offset-4 col-xs-5 timeline-scale">
                        <hr/>
                    </div>
                    <div class="col-xs-1 col-xs-offset-5 col-sm-offset-4">
                        <div class="center-block timeline-bullet">&bull;</div>
                    </div>
                    <div class="col-xs-1">
                        <div class="center-block timeline-bullet">&bull;</div>
                    </div>
                    <div class="col-xs-1">
                        <div class="center-block timeline-bullet">&bull;</div>
                    </div>
                    <div class="col-xs-1">
                        <div class="center-block timeline-bullet">&bull;</div>
                    </div>
                    <div class="col-xs-1">
                        <div class="center-block timeline-bullet">&bull;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-3 text-right"><span class="icon-23"></span> Palestras</div>
                <div class="col-xs-1 col-sm-1"> &rarr;</div>
                <div class="col-xs-1 col-sm-1"><code class="label label-warning label-round">16</code></div>
                <div class="col-xs-1 col-sm-1"><code class="label label-warning label-round">22</code></div>
                <div class="col-xs-1 col-sm-1"><code class="label label-warning label-round">20</code></div>
                <div class="col-xs-1 col-sm-1"><code class="label label-warning label-round">35</code></div>
                <div class="col-xs-1 col-sm-1"><code class="label label-info label-round">63</code></div>
                <div class="col-xs-1 col-sm-2 hidden-xs">* 2017</div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-3 text-right"><span class="icon-27"></span> Oficinas</div>
                <div class="col-xs-1 col-sm-1"> &rarr;</div>
                <div class="col-xs-1 col-sm-1"><code class="label label-warning label-round">2</code></div>
                <div class="col-xs-1 col-sm-1"><code class="label label-warning label-round">6</code></div>
                <div class="col-xs-1 col-sm-1"><code class="label label-warning label-round">4</code></div>
                <div class="col-xs-1 col-sm-1"><code class="label label-warning label-round">12</code></div>
                <div class="col-xs-1 col-sm-1"><code class="label label-info label-round">20</code></div>
                <div class="col-xs-1 col-sm-2 hidden-xs">(dados estimados)</div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-3 text-right"><span class="icon-28"></span> Posters</div>
                <div class="col-xs-1 col-sm-1"> &rarr;</div>
                <div class="col-xs-1 col-sm-1"><code class="label label-warning label-round">6</code></div>
                <div class="col-xs-1 col-sm-1"><code class="label label-warning label-round">5</code></div>
                <div class="col-xs-1 col-sm-1"><code class="label label-warning label-round">7</code></div>
                <div class="col-xs-1 col-sm-1"><code class="label label-warning label-round">0</code></div>
                <div class="col-xs-1 col-sm-1"><code class="label label-info label-round">10</code></div>
            </div>
            <div class="row visible-xs">
                <div class="col-xs-12">
                    <p>
                        <small>
                            <small>
                                <small>*2017 (dados estimados)</small>
                            </small>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>