<footer id="footer" class="footer text-center">
    <div class="container">
        <div class="btn-group btn-group-lg">
            <a href="https://facebook.com/scipyla" type="button" class="btn btn-primary btn-social btn-round">
                <span class="icon-6"></span>
            </a>
            <a href="http://twitter.com/scipyla" type="button" class="btn btn-primary btn-social btn-round">
                <span class="icon-7"></span>
            </a>
            <a href="https://plus.google.com/116952396338000992599" type="button"
               class="btn btn-primary btn-social btn-round">
                <span class="icon-8"></span>
            </a>
            <a href="https://ar.linkedin.com/grps/SciPy-Latin-America-8344796/about" type="button"
               class="btn btn-primary btn-social btn-round">
                <span class="icon-9"></span>
            </a>
        </div>
        <p>Copyright 2018 &copy; <a href="http://scipyla.org">SciPy Latinamerica</a></p>
    </div>
    <div class="">
        <img class="img img-responsive"
             srcset="./assets/img/jardim_botanico_curitiba-576.png 576w,
                    ./assets/img/jardim_botanico_curitiba-768.png 768w,
                    ./assets/img/jardim_botanico_curitiba-992.png 992w,
                    ./assets/img/jardim_botanico_curitiba-1200.png 1200w,
                    ./assets/img/jardim_botanico_curitiba-1600.png 1600w,
                    ./assets/img/jardim_botanico_curitiba-2633.png 2633w"
             src="./assets/img/jardim_botanico_curitiba-2633.png"
             alt="Jardim Botânico de Curitiba">
    </div>
</footer>