<section id="gallery" class="section-nospace">
    <div class="text-center bg-grey">
        <div class="container">
            <h3>GALERIA - EDI&Ccedil;&Otilde;ES ANTERIORES</h3>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="overlay-target hover">
                    <img src="./assets/img/scipyla2013.png" class="img-responsive center-block"/>
                    <div class="overlay visible-hover bg-dark img-circle">
                    </div>
                </a>
                <h4>2013</h4>
                <p>Puerto Madryn<br/>
                    ARGENTINA</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="overlay-target hover">
                    <img src="./assets/img/scipyla2014.png" class="img-responsive center-block"/>
                    <div class="overlay visible-hover bg-dark img-circle">
                    </div>
                </a>
                <h4>2014</h4>
                <p>Bah&iacute;a Blanca<br/>
                    ARGENTINA</p>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="overlay-target hover">
                    <img src="./assets/img/scipyla2015.png" class="img-responsive center-block"/>
                    <div class="overlay visible-hover bg-dark img-circle">
                    </div>
                </a>
                <h4>2015</h4>
                <p>Posadas<br/>
                    ARGENTINA</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="overlay-target hover">
                    <img src="./assets/img/scipyla2016.png" class="img-responsive center-block"/>
                    <div class="overlay visible-hover bg-dark img-circle">
                    </div>
                </a>
                <h4>2016</h4>
                <p>Florian&oacute;polis<br/>
                    BRASIL</p>
            </div>
        </div>
    </div>
</section>