<header class="main">
    <div id="home-carousel" class="carousel slide bg-dark" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active text-center" data-bg="slide-1">
                <div class="carousel-item__container carousel-item__container--slide-1 vertical-center">
                    <div class="self-vertical-center">

                        <img src="assets/img/scipyla.h.svg" width="395" class="hidden-xs center-block img-responsive"/>
                        <img src="assets/img/scipyla.v.svg" width="138" class="visible-xs center-block img-responsive"/>
                        <p> Datas em breve! </p>
                        <p>
                            <small>Conferência Latinoamericana de <br class="visible-xs">Computa&ccedil;&atilde;o Cient&iacute;fica
                                com Python
                            </small>
                        </p>
                        <p class="lead">
                            <span class="lead">Mais PYTHON <br class="visible-xs"/>
                                <span class="hidden-xs">,</span>
                                Mais CI&Ecirc;NCIA
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="item text-center" data-bg="slide-2">
                <div class="carousel-item__container carousel-item__container--slide-2 vertical-center">
                    <div class="self-vertical-center">
                        <img src="./assets/img/sponsor.levels.es.jpg" class="img-responsive center-block"/>
                        <p class="lead">
                            <span class="lead"> Deseja colocar seu an&uacute;ncio aqui?</span>
                        </p>
                        <!--<a href="forms/sponsor" class="btn btn-warning">PATROCINE A SCIPYLA 2018</a>-->
                    </div>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Próxima</span>
        </a>
    </div>
</header>