<div class="container">
    <section>
        <div class="row marketing text-center" id="org">
            <div class="col-md-4">
                <img src="./assets/img/prog.png" class="img-circle"/>
                <h3>PROGRAMA</h3>
                <p>Conhe&ccedil;a o programa de atividades preparadas para a SciPyLA 2018,
                    contendo oficinas sobre o uso de Python em sete &aacute;reas da ci&ecirc;ncia e da tecnologia.
                </p>
                <div class="marketing-action">
                    <a href="#" class="btn btn-info center-block">AGUARDE</a>
                </div>
            </div>

            <div class="col-md-4">
                <img src="./assets/img/sched.png" class="img-circle"/>
                <h3>AGENDA</h3>
                <p>Informa&ccedil;&otilde;es sobre o cronograma de atividades previstas para os quatro dias de dura&ccedil;&atilde;o
                    do evento.
                </p>
                <div class="marketing-action">
                    <a href="#" class="btn btn-info center-block">AGUARDE</a>
                </div>
            </div>

            <div class="col-md-4">
                <img src="./assets/img/org.png" class="img-circle"/>
                <h3>ORGANIZADORES</h3>
                <p>SciPyLA 2018 &eacute; um evento de todos e para todos.
                    Conhe&ccedil;a o Comit&ecirc; Organizador do evento.
                </p>
                <div class="marketing-action">
                    <a href="#" class="btn btn-info center-block">AGUARDE</a>
                </div>
            </div>
        </div>
    </section>
</div>