<div class="container">
    <section>
        <div class="row" id="about">
            <div class="col-md-offset-2 col-md-8 col-xs-12 text-center" id="planets-container">
                <h3>SCIPY AM&Eacute;RICA LATINA 2018</h3>
                <p>
                    &Eacute; a sexta confer&ecirc;ncia anual de computa&ccedil;&atilde;o cient&iacute;fica com Python.
                    Esta ocorrer&aacute; entre (datas em breve) de 2018 em Curitiba, Brasil.
                    A comunidade SciPy se dedica ao avan&ccedil;o da computa&ccedil;&atilde;o cient&iacute;fica
                    atrav&eacute;s de softwares de c&oacute;digo aberto feito em Python para resolver
                    problemas matem&aacute;ticos da ci&ecirc;ncia e da engenharia.
                </p>
                <div id="planets-img">
                    <img class="img-responsive center-block" src="./assets/img/planets-bg.png"/>
                    <div class="row" id="planets">
                        <strong>
                            <div class="col-xs-4 text-center">
                                <img class="img-responsive center-block" src="./assets/img/planet.py.svg"/>
                                <p>PYTHON</p>
                            </div>
                            <div class="col-xs-4 text-center">
                                <img class="img-responsive center-block" src="./assets/img/planet.sci.svg"/>
                                <p>CI&Ecirc;NCIA</p>
                            </div>
                            <div class="col-xs-4 text-center">
                                <div class="overlay-target-block">
                                    <img class="img-responsive center-block" src="./assets/img/planet.la.svg"/>
                                    <img id="planet-la" src="./assets/img/planet.la.svg"/>
                                </div>
                                <div id="planets-satellite"></div>
                                <p>AM&Eacute;RICA LATINA</p>
                            </div>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>