<section class="section-nospace">
    <div class="col-xs-12" id="signup">
        <div class="container">
            <div class="sbgu"></div>
            <div class="sbgl"></div>
            <div class="sbgr"></div>
            <div class="row" id="contact-div">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    <div class="row">
                        <h3>INSCRI&Ccedil;&Atilde;O</h3>
                    </div>
                    <div class="row">
                        <a href="#" id="btn-register" class="btn btn-warning btn-lg">
                            INSCRI&Ccedil;&Atilde;O EM BREVE
                        </a>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>